.nav{
    font-size: 25px;
    padding: 80px;
    background-color: white
}
body{
    background-color: greenyellow

}
#foto{
    margin-top: -85px;
    margin-right: 1230px;
    border-radius: 40%;
    
}